header{
    background-color: aqua;
    background-image: url(../img/pattern.png);
    height: 200px;
}

/*Grandezza Logo*/
.logo{
    height: 40px;
    position: absolute;
    top: 160px;
    left: 16px;
}

/*Sezione Titolo e scrittore*/
h1{
    font-size: 50px;
}

.scritto{
    font-size: 15px;
    color: gray;
}

.blu{
    color: blue;
    background: none;
}

.data{
    color: gray;
    font-size: 10px;
}

/*Foto*/
/*perchè mi abbassa anche tipo 2?*/
.tipo1{
    margin-top: 20px;
}

.tipo2{
    float:left

}

/*chi sono in foto*/
h6{
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

/*elenco puntato*/
ul{
    margin-left: -25px;
}

/*Tabella*/
table{
    margin-top: 20px;
    margin-bottom: 20px;
}

th{
    background-color: blue;
    color: white;
    text-align: left;
}

tr:nth-last-child(even){
    background-color: aqua;
}

footer{
    margin-top: 30px;
}

.monitor{
    margin-top: 10px;
    margin-bottom: 10px;
}